:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --color-accent: #2196f3;
    --color-white: #ffffff;
    --color-hero: #2f303a;
    --color-footer: #2f303a;
    --background-color-team: #f5f4fa;
    --color-hero-button: #188ce8;
    --color-address: rgba(255, 255, 255, 0.6);
    --font-logo: 'Raleway', sans-serif;
    --font-family-primary: 'Roboto', sans-serif;
    --border-color-portfolio: #eeeeee;
    --color-icon: #afb1b8;
    --bgcolor-icon-features: #f5f4fa;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
    --color-modal-icon: #212121;
  }