.address{
  &__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 9px;
    margin-top: 20px;
  }
  &__link {
    font-style: normal;
    text-decoration: none;
    color: var(--color-address);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  &__link:hover,
  &__link:focus {
    color: var(--color-accent);
  }
  &__maps--white{
    color: var(--color-white);
  }
}
