
.section--bgr {
    background-color: var(--background-color-team);
  }
  .ourteam-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-team);
  }
  .ourteam-cards {
    display: flex;
    justify-content: space-between;
    flex-basis: calc((100% - 90px) / 4);
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
  }
  .ourteam-cards__item {
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .ourteam-cards__title {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  .ourteam-cards__text-position {
    margin: 30px auto 16px;
  }
  .ourteam-cards__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
  }
  .ourteam-cards__text {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }